<p>You’ve ganined a new request for {{service_name}}. Here’s the details,</p>
<p> </p>
<p>Public address: 0x…</p>
<p>Country: Indonesia</p>
<p>State/Province: DKI Jakarta</p>
<p>City: Jakarta Pusat</p>
<p>Amount: 500DAI</p>
{{!-- <p>
    <a href="{{ url }}">Confirm</a>
</p> --}}

{{!-- <p>If you did not request this email you can safely ignore it.</p> --}}
